/*--------------------
  COMMON STYLES
--------------------*/

html,
body {
  font-weight: $fw-base;
  font-size: $fz-base;
  line-height: $lh-base;
  font-family: $ff-base;
  color: $white;
  font-style: $fs-base;
  background-color: $dark;
}
