include ../sections/hero/hero
include ../sections/about/about
include ../sections/experiences/experiences
include ../sections/skills/skills
include ../sections/portfolio/portfolio
include ../sections/contact/contact
