section#skills.py-5
  .container
    ul.list-unstyled.mb-0.row
      li.col-6
        h2.mb-5.text-center Technical Skills
        ul.slider
          each skill, index in skillsList
            li
              img(src=skill.src, width="80px" height="80px" alt=skill.name)
      li.col-6
        h2.mb-5.text-center Professional Skills
        ul.list-unstyled.mb-0
          li





