// COLOR
$f-color: #454858;
$f-color-secondary: #4d4d4d;
$active-color: #4ac983;
$focus-shadow: 0 0 0 2px rgba(0, 123, 255, 0.5);

/*--------------------
  VARIABLES
--------------------*/

// LESS - @
// SCSS, SASS - $
// CSS - var(--variable)

// FONT
$f-family-base: "Ebrima", sans-serif;
$f-weight-heading: 700;
$f-size-xs: 16px;
$f-size-lg: 18px;

// MEDIA
// min
$sm-min: 576px;
$md-min: 768px;
$lg-min: 992px;
$xl-min: 1200px;

// max
$xs-max: 575px;
$sm-max: 767px;
$md-max: 991px;
$lg-max: 1199px;

// HEADER
$header-height-xs: 46px;
$header-height-lg: 70px;

// COLORS

$warm-100: #eae7dc !default;
$warm-200: #d8c3a5 !default;
$warm-300: #e98074 !default;
$warm-400: #e85a4f !default;
$dark: #8e9d9a !default;
$black: #3c3c3c !default;

$theme-colors: (
  "warm-100": $warm-100,
  "warm-200": $warm-200,
  "warm-300": $warm-300,
  "warm-400": $warm-400,
  "dark": $dark,
  "black": $black,
) !default;
