/*--------------------
  VARIABLES
--------------------*/

// LESS - @
// SCSS, SASS - $
// CSS - var(--variable)

// COLOR
$f-color: #454858;
$f-color-secondary: #4d4d4d;

// FONT
$f-family-base: "Ebrima", sans-serif;
$f-weight-heading: 700;
$f-size-xs: 16px;
$f-size-lg: 18px;

// MEDIA
// min
$sm-min: 576px;
$md-min: 768px;
$lg-min: 992px;
$xl-min: 1200px;

// max
$xs-max: 575px;
$sm-max: 767px;
$md-max: 991px;
$lg-max: 1199px;
