/*--------------------
  VARIABLES
--------------------*/

// LESS - @
// SCSS, SASS - $
// CSS - var(--variable)

// FONT
$ff-base: "Nunito", "Arial", sans-serif;
$fw-base: 400;
$fs-base: normal;
$fz-base: 16px;
$lh-base: 1.5;

// MEDIA
// min
$sm-min: 576px;
$md-min: 768px;
$lg-min: 992px;
$xl-min: 1200px;

// max
$xs-max: 575px;
$sm-max: 767px;
$md-max: 991px;
$lg-max: 1199px;

// COLORS
$warm-100: #eae7dc !default;
$warm-200: #d8c3a5 !default;
$warm-300: #e98074 !default;
$warm-400: #e85a4f !default;
$secondary: #8e9d9a !default;
$dark: #3c3c3c !default;

$theme-colors: (
  "warm-100": $warm-100,
  "warm-200": $warm-200,
  "warm-300": $warm-300,
  "warm-400": $warm-400,
  "secondary": $secondary,
  "dark": $dark,
) !default;

// NAV

$nav-link-color: $dark !default;
$nav-link-hover-color: $warm-400 !default;
