.navbar {
  position: absolute;
  top: 0;
  right: 0;
  width: 250px;
  height: 250px;
  background-color: $warm-400;
  border-bottom-left-radius: 250px;

  &-toggler {
    top: 8px;
    right: 8px;

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 50%;
      width: 20px;
      height: 2px;
      background-color: $white;
      transform: translate(-50%);
    }

    &::before {
      top: 12px;
      box-shadow: 0 6px 0 0 $white;
    }

    &::after {
      bottom: 12px;
    }
  }
}
