/*--------------------
  SOCIALS
--------------------*/

.socials {
  &__svg {
    fill: inherit;

    svg {
      vertical-align: text-top;
    }
  }

  &__link {
    color: $white;
    outline: none;
    transition: color 0.15s linear, fill 0.15s linear;
    fill: $white;

    &--text-none {
      font-size: 0;
    }

    &:hover,
    &:focus {
      color: $secondary;
      fill: $secondary;
    }
  }
}
