section#experiences.py-5
  .container
    ul.list-unstyled.mb-0.row
      li.col-6
        h2.mb-5 Education
        ul.list-unstyled.mb-0
          li.card
            .card-body
              h4.card-title.mb-4 Computer Engineering From
                span.text-secondary  Odessa Technical College ONAFT
              p.card-text.text-secondary 2015 - 2019
              p.card-text With supporting text below as a natural lead-in to additional content.
      li.col-6
        h2.mb-5 Work Experience
        ul.list-unstyled.mb-0
          li.card.mb-4
            .card-body
              h4.card-title.mb-4 Frontend Developer at
                span.text-secondary  RexIT
              p.card-text.text-secondary May 2021 - Present (Full-time)
              p.card-text.mb-0 Responsibility :
              ul.list-unstyled.mb-0
                li.position-relative.ps-4 Validity HTML
          li.card
            .card-body
              h4.card-title.mb-4 Frontend Developer at
                span.text-secondary  Smart Plus
              p.card-text.text-secondary May 2021 - Present (Freelance)
              p.card-text.mb-0 Responsibility :
              ul.list-unstyled.mb-0
                li.position-relative.ps-4 Validity HTML
