section#experiences.py-5
  .container
    ul.list-unstyled.mb-0.row
      li.col-6
        h2.mb-5 Education
        ul.list-unstyled.mb-0
          li.card
            .card-body
              h4.card-title.mb-4 Computer Engineering From
                span.text-secondary  Odessa Technical College ONAFT
              p.card-text.text-secondary 2015 - 2019
              p.card-text.mb-0 Studied in the specialty "Computer Engineering".
              p.card-text As a result of received the Diploma "Junior Specialist".
      li.col-6
        h2.mb-5 Work Experience
        ul.list-unstyled.mb-0
          each experience, index in experiencesList
            li.card.mb-4
              .card-body
                h4.card-title.mb-4= experience.position
                  span.text-secondary= experience.company
                p.card-text.text-secondary= experience.date
                p.card-text.mb-0 Responsibility :
                ul.list-unstyled.mb-0.d-flex.flex-wrap
                  each item, index in experience.list
                    li.position-relative.ps-4.w-50= item
