section#portfolio.py-5
  .container
    h2.mb-5.text-center Portfolio
    ul.list-unstyled.mb-0.row.g-4
      li.col-4
        button.p-0.bg-transparent.border-0(type='button' data-bs-toggle='modal' data-bs-target='#prengiInfo')
          img.img-fluid.rounded(src="images/portfolio/prengi.png")
        #prengiInfo.modal.fade(tabindex='-1' aria-labelledby='prengiLabel' aria-hidden='true')
          .modal-dialog.modal-dialog-centered
            .modal-content
              .modal-header
                h3#prengiInfoLabel.modal-title Project: Prengi
                button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
              .modal-body.pt-0
                p.mb-3 Training Layout. Created to test my knowledge.
                ul.list-unstyled.d-flex.row.g-2
                  li.col-auto
                    .border.border-secondary.rounded.px-2 html
                  li.col-auto
                    .border.border-secondary.rounded.px-2 scss
                  li.col-auto
                    .border.border-secondary.rounded.px-2 gulp
                  li.col-auto
                    .border.border-secondary.rounded.px-2 photoshop
                .btn-group.mt-4(role="group" aria-label="Basic example")
                  a.btn.btn-outline-white(href="/portfolio/prengi" target="_blank") Live Demo
                  a.btn.btn-outline-white(href="https://github.com/VladislavDesu/prengi" target="_blank") Github
      li.col-4
        button.p-0.bg-transparent.border-0(type='button' data-bs-toggle='modal' data-bs-target='#wordpressIntensiveInfo')
          img.img-fluid.rounded(src="images/portfolio/wordpress-intensive.png")
        #wordpressIntensiveInfo.modal.fade(tabindex='-1' aria-labelledby='wordpressIntensiveLabel' aria-hidden='true')
          .modal-dialog.modal-dialog-centered
            .modal-content
              .modal-header
                h3#wordpressIntensiveInfoLabel.modal-title Project: Wordpress Intensive
                button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
              .modal-body.pt-0
                p.mb-3 Training Layout. Created to test my knowledge.
                ul.list-unstyled.d-flex.row.g-2
                  li.col-auto
                    .border.border-secondary.rounded.px-2 html
                  li.col-auto
                    .border.border-secondary.rounded.px-2 scss
                  li.col-auto
                    .border.border-secondary.rounded.px-2 gulp
                  li.col-auto
                    .border.border-secondary.rounded.px-2 photoshop
                .btn-group.mt-4(role="group" aria-label="Basic example")
                  a.btn.btn-outline-white(href="/portfolio/wordpress-intensive" target="_blank") Live Demo
                  a.btn.btn-outline-white(href="https://github.com/VladislavDesu/wordpress-intensive" target="_blank") Github
      li.col-4
        button.p-0.bg-transparent.border-0(type='button' data-bs-toggle='modal' data-bs-target='#uberPartnersInfo')
          img.img-fluid.rounded(src="images/portfolio/uber-partners.png")
        #uberPartnersInfo.modal.fade(tabindex='-1' aria-labelledby='uberPartnersLabel' aria-hidden='true')
          .modal-dialog.modal-dialog-centered
            .modal-content
              .modal-header
                h3#uberPartnersInfoLabel.modal-title Project: Uber Partners
                button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
              .modal-body.pt-0
                p.mb-3 Training Layout. Created to test my knowledge.
                ul.list-unstyled.d-flex.row.g-2
                  li.col-auto
                    .border.border-secondary.rounded.px-2 html
                  li.col-auto
                    .border.border-secondary.rounded.px-2 scss
                  li.col-auto
                    .border.border-secondary.rounded.px-2 gulp
                  li.col-auto
                    .border.border-secondary.rounded.px-2 photoshop
                .btn-group.mt-4(role="group" aria-label="Basic example")
                  a.btn.btn-outline-white(href="/portfolio/uber-partners" target="_blank") Live Demo
                  a.btn.btn-outline-white(href="https://github.com/VladislavDesu/uber-partners" target="_blank") Github
      li.col-4
        button.p-0.bg-transparent.border-0(type='button' data-bs-toggle='modal' data-bs-target='#timblerInfo')
          img.img-fluid.rounded(src="images/portfolio/timbler.png")
        #timblerInfo.modal.fade(tabindex='-1' aria-labelledby='timblerLabel' aria-hidden='true')
          .modal-dialog.modal-dialog-centered
            .modal-content
              .modal-header
                h3#timblerInfoLabel.modal-title Project: Timbler
                button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
              .modal-body.pt-0
                p.mb-3 Training Layout. Created to test my knowledge.
                ul.list-unstyled.d-flex.row.g-2
                  li.col-auto
                    .border.border-secondary.rounded.px-2 html
                  li.col-auto
                    .border.border-secondary.rounded.px-2 scss
                  li.col-auto
                    .border.border-secondary.rounded.px-2 gulp
                  li.col-auto
                    .border.border-secondary.rounded.px-2 photoshop
                .btn-group.mt-4(role="group" aria-label="Basic example")
                  a.btn.btn-outline-white(href="/portfolio/timbler" target="_blank") Live Demo
                  a.btn.btn-outline-white(href="https://github.com/VladislavDesu/timbler" target="_blank") Github
      li.col-4
        button.p-0.bg-transparent.border-0(type='button' data-bs-toggle='modal' data-bs-target='#alexisInfo')
          img.img-fluid.rounded(src="images/portfolio/alexis.png")
        #alexisInfo.modal.fade(tabindex='-1' aria-labelledby='alexisLabel' aria-hidden='true')
          .modal-dialog.modal-dialog-centered
            .modal-content
              .modal-header
                h3#alexisInfoLabel.modal-title Project: Alexis
                button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
              .modal-body.pt-0
                p.mb-3 Training Layout. Created to test my knowledge.
                ul.list-unstyled.d-flex.row.g-2
                  li.col-auto
                    .border.border-secondary.rounded.px-2 html
                  li.col-auto
                    .border.border-secondary.rounded.px-2 css
                .btn-group.mt-4(role="group" aria-label="Basic example")
                  a.btn.btn-outline-white(href="/portfolio/alexis" target="_blank") Live Demo
                  a.btn.btn-outline-white(href="https://github.com/VladislavDesu/alexis" target="_blank") Github
      li.col-4
        button.p-0.bg-transparent.border-0(type='button' data-bs-toggle='modal' data-bs-target='#pulseInfo')
          img.img-fluid.rounded(src="images/portfolio/pulse.png")
        #pulseInfo.modal.fade(tabindex='-1' aria-labelledby='pulseLabel' aria-hidden='true')
          .modal-dialog.modal-dialog-centered
            .modal-content
              .modal-header
                h3#pulseInfoLabel.modal-title Project: Pulse
                button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
              .modal-body.pt-0
                p.mb-3 Training Layout. Created to test my knowledge.
                ul.list-unstyled.d-flex.row.g-2
                  li.col-auto
                    .border.border-secondary.rounded.px-2 html
                  li.col-auto
                    .border.border-secondary.rounded.px-2 scss
                  li.col-auto
                    .border.border-secondary.rounded.px-2 gulp
                  li.col-auto
                    .border.border-secondary.rounded.px-2 Javascript
                  li.col-auto
                    .border.border-secondary.rounded.px-2 swiperJS
                  li.col-auto
                    .border.border-secondary.rounded.px-2 photoshop
                .btn-group.mt-4(role="group" aria-label="Basic example")
                  a.btn.btn-outline-white(href="/portfolio/pulse" target="_blank") Live Demo
                  a.btn.btn-outline-white(href="https://github.com/VladislavDesu/pulse" target="_blank") Github
      li.col-4
        button.p-0.bg-transparent.border-0(type='button' data-bs-toggle='modal' data-bs-target='#sedonaInfo')
          img.img-fluid.rounded(src="images/portfolio/sedona.png")
        #sedonaInfo.modal.fade(tabindex='-1' aria-labelledby='sedonaLabel' aria-hidden='true')
          .modal-dialog.modal-dialog-centered
            .modal-content
              .modal-header
                h3#sedonaInfoLabel.modal-title Project: Sedona
                button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
              .modal-body.pt-0
                p.mb-3 Training Layout. Created to test my knowledge.
                ul.list-unstyled.d-flex.row.g-2
                  li.col-auto
                    .border.border-secondary.rounded.px-2 html
                  li.col-auto
                    .border.border-secondary.rounded.px-2 scss
                  li.col-auto
                    .border.border-secondary.rounded.px-2 gulp
                  li.col-auto
                    .border.border-secondary.rounded.px-2 Javascript
                  li.col-auto
                    .border.border-secondary.rounded.px-2 photoshop
                .btn-group.mt-4(role="group" aria-label="Basic example")
                  a.btn.btn-outline-white(href="/portfolio/sedona" target="_blank") Live Demo
                  a.btn.btn-outline-white(href="https://github.com/VladislavDesu/sedona" target="_blank") Github
      li.col-4
        button.p-0.bg-transparent.border-0(type='button' data-bs-toggle='modal' data-bs-target='#catEnergyInfo')
          img.img-fluid.rounded(src="images/portfolio/cat-energy.png")
        #catEnergyInfo.modal.fade(tabindex='-1' aria-labelledby='catEnergyLabel' aria-hidden='true')
          .modal-dialog.modal-dialog-centered
            .modal-content
              .modal-header
                h3#catEnergyInfoLabel.modal-title Project: Cat Energy
                button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
              .modal-body.pt-0
                p.mb-3 Training Layout. Created to test my knowledge.
                ul.list-unstyled.d-flex.row.g-2
                  li.col-auto
                    .border.border-secondary.rounded.px-2 html
                  li.col-auto
                    .border.border-secondary.rounded.px-2 scss
                  li.col-auto
                    .border.border-secondary.rounded.px-2 gulp
                  li.col-auto
                    .border.border-secondary.rounded.px-2 Javascript
                  li.col-auto
                    .border.border-secondary.rounded.px-2 photoshop
                .btn-group.mt-4(role="group" aria-label="Basic example")
                  a.btn.btn-outline-white(href="/portfolio/cat-energy" target="_blank") Live Demo
                  a.btn.btn-outline-white(href="https://github.com/VladislavDesu/cat-energy" target="_blank") Github
      li.col-4
        button.p-0.bg-transparent.border-0(type='button' data-bs-toggle='modal' data-bs-target='#mogoInfo')
          img.img-fluid.rounded(src="images/portfolio/mogo.png")
        #mogoInfo.modal.fade(tabindex='-1' aria-labelledby='mogoLabel' aria-hidden='true')
          .modal-dialog.modal-dialog-centered
            .modal-content
              .modal-header
                h3#mogoInfoLabel.modal-title Project: Mogo
                button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
              .modal-body.pt-0
                p.mb-3 Training Layout. Created to test my knowledge.
                ul.list-unstyled.d-flex.row.g-2
                  li.col-auto
                    .border.border-secondary.rounded.px-2 html
                  li.col-auto
                    .border.border-secondary.rounded.px-2 css
                  li.col-auto
                    .border.border-secondary.rounded.px-2 Javascript
                  li.col-auto
                    .border.border-secondary.rounded.px-2 font awesome
                  li.col-auto
                    .border.border-secondary.rounded.px-2 photoshop
                .btn-group.mt-4(role="group" aria-label="Basic example")
                  a.btn.btn-outline-white(href="/portfolio/mogo" target="_blank") Live Demo
                  a.btn.btn-outline-white(href="https://github.com/VladislavDesu/mogo" target="_blank") Github
      li.col-4
        button.p-0.bg-transparent.border-0(type='button' data-bs-toggle='modal' data-bs-target='#gllacyInfo')
          img.img-fluid.rounded(src="images/portfolio/gllacy.png")
        #gllacyInfo.modal.fade(tabindex='-1' aria-labelledby='gllacyLabel' aria-hidden='true')
          .modal-dialog.modal-dialog-centered
            .modal-content
              .modal-header
                h3#gllacyInfoLabel.modal-title Project: Gllacy
                button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
              .modal-body.pt-0
                p.mb-3 Training Layout. Created to test my knowledge.
                ul.list-unstyled.d-flex.row.g-2
                  li.col-auto
                    .border.border-secondary.rounded.px-2 html
                  li.col-auto
                    .border.border-secondary.rounded.px-2 css
                  li.col-auto
                    .border.border-secondary.rounded.px-2 Javascript
                  li.col-auto
                    .border.border-secondary.rounded.px-2 photoshop
                .btn-group.mt-4(role="group" aria-label="Basic example")
                  a.btn.btn-outline-white(href="/portfolio/gllacy" target="_blank") Live Demo
                  a.btn.btn-outline-white(href="https://github.com/VladislavDesu/gllacy" target="_blank") Github
      li.col-4
        button.p-0.bg-transparent.border-0(type='button' data-bs-toggle='modal' data-bs-target='#misocialInfo')
          img.img-fluid.rounded(src="images/portfolio/misocial.png")
        #misocialInfo.modal.fade(tabindex='-1' aria-labelledby='misocialLabel' aria-hidden='true')
          .modal-dialog.modal-dialog-centered
            .modal-content
              .modal-header
                h3#misocialInfoLabel.modal-title Project: Misocial
                button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
              .modal-body.pt-0
                p.mb-3 Training Layout. Created to test my knowledge.
                ul.list-unstyled.d-flex.row.g-2
                  li.col-auto
                    .border.border-secondary.rounded.px-2 html
                  li.col-auto
                    .border.border-secondary.rounded.px-2 css
                  li.col-auto
                    .border.border-secondary.rounded.px-2 photoshop
                .btn-group.mt-4(role="group" aria-label="Basic example")
                  a.btn.btn-outline-white(href="/portfolio/misocial" target="_blank") Live Demo
                  a.btn.btn-outline-white(href="https://github.com/VladislavDesu/misocial" target="_blank") Github
      li.col-4
        button.p-0.bg-transparent.border-0(type='button' data-bs-toggle='modal' data-bs-target='#nerdsInfo')
          img.img-fluid.rounded(src="images/portfolio/nerds.png")
        #nerdsInfo.modal.fade(tabindex='-1' aria-labelledby='nerdsLabel' aria-hidden='true')
          .modal-dialog.modal-dialog-centered
            .modal-content
              .modal-header
                h3#nerdsInfoLabel.modal-title Project: Nerds
                button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
              .modal-body.pt-0
                p.mb-3 Training Layout. Created to test my knowledge.
                ul.list-unstyled.d-flex.row.g-2
                  li.col-auto
                    .border.border-secondary.rounded.px-2 html
                  li.col-auto
                    .border.border-secondary.rounded.px-2 css
                  li.col-auto
                    .border.border-secondary.rounded.px-2 Javascript
                  li.col-auto
                    .border.border-secondary.rounded.px-2 photoshop
                .btn-group.mt-4(role="group" aria-label="Basic example")
                  a.btn.btn-outline-white(href="/portfolio/nerds" target="_blank") Live Demo
                  a.btn.btn-outline-white(href="https://github.com/VladislavDesu/nerds" target="_blank") Github
      li.col-4
        button.p-0.bg-transparent.border-0(type='button' data-bs-toggle='modal' data-bs-target='#borodinskiInfo')
          img.img-fluid.rounded(src="images/portfolio/borodinski.png")
        #borodinskiInfo.modal.fade(tabindex='-1' aria-labelledby='borodinskiLabel' aria-hidden='true')
          .modal-dialog.modal-dialog-centered
            .modal-content
              .modal-header
                h3#borodinskiInfoLabel.modal-title Project: Borodinski
                button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
              .modal-body.pt-0
                p.mb-3 Training Layout. Created to test my knowledge.
                ul.list-unstyled.d-flex.row.g-2
                  li.col-auto
                    .border.border-secondary.rounded.px-2 html
                  li.col-auto
                    .border.border-secondary.rounded.px-2 css
                  li.col-auto
                    .border.border-secondary.rounded.px-2 Javascript
                  li.col-auto
                    .border.border-secondary.rounded.px-2 photoshop
                .btn-group.mt-4(role="group" aria-label="Basic example")
                  a.btn.btn-outline-white(href="/portfolio/borodinski" target="_blank") Live Demo
                  a.btn.btn-outline-white(href="https://github.com/VladislavDesu/borodinski" target="_blank") Github
      li.col-4
        button.p-0.bg-transparent.border-0(type='button' data-bs-toggle='modal' data-bs-target='#covidInfo')
          img.img-fluid.rounded(src="images/portfolio/covid.png")
        #covidInfo.modal.fade(tabindex='-1' aria-labelledby='covidLabel' aria-hidden='true')
          .modal-dialog.modal-dialog-centered
            .modal-content
              .modal-header
                h3#covidInfoLabel.modal-title Project: Covid-19
                button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
              .modal-body.pt-0
                p.mb-3 Training Layout. Created to test my knowledge.
                ul.list-unstyled.d-flex.row.g-2
                  li.col-auto
                    .border.border-secondary.rounded.px-2 html
                  li.col-auto
                    .border.border-secondary.rounded.px-2 css
                  li.col-auto
                    .border.border-secondary.rounded.px-2 figma
                .btn-group.mt-4(role="group" aria-label="Basic example")
                  a.btn.btn-outline-white(href="/portfolio/covid" target="_blank") Live Demo
                  a.btn.btn-outline-white(href="https://github.com/VladislavDesu/covid" target="_blank") Github
      li.col-4
        button.p-0.bg-transparent.border-0(type='button' data-bs-toggle='modal' data-bs-target='#stylesConferenceInfo')
          img.img-fluid.rounded(src="images/portfolio/styles-conference.png")
        #stylesConferenceInfo.modal.fade(tabindex='-1' aria-labelledby='stylesConferenceLabel' aria-hidden='true')
          .modal-dialog.modal-dialog-centered
            .modal-content
              .modal-header
                h3#stylesConferenceInfoLabel.modal-title Project: Styles Conference
                button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
              .modal-body.pt-0
                p.mb-3 Training Layout. Created to test my knowledge.
                ul.list-unstyled.d-flex.row.g-2
                  li.col-auto
                    .border.border-secondary.rounded.px-2 html
                  li.col-auto
                    .border.border-secondary.rounded.px-2 css
                  li.col-auto
                    .border.border-secondary.rounded.px-2 photoshop
                .btn-group.mt-4(role="group" aria-label="Basic example")
                  a.btn.btn-outline-white(href="/portfolio/styles-conference" target="_blank") Live Demo
                  a.btn.btn-outline-white(href="https://github.com/VladislavDesu/styles-conference" target="_blank") Github
      li.col-4
        button.p-0.bg-transparent.border-0(type='button' data-bs-toggle='modal' data-bs-target='#mycompanyInfo')
          img.img-fluid.rounded(src="images/portfolio/mycompany.png")
        #mycompanyInfo.modal.fade(tabindex='-1' aria-labelledby='mycompanyLabel' aria-hidden='true')
          .modal-dialog.modal-dialog-centered
            .modal-content
              .modal-header
                h3#mycompanyInfoLabel.modal-title Project: My Company
                button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
              .modal-body.pt-0
                p.mb-3 Training Layout. Created to test my knowledge.
                ul.list-unstyled.d-flex.row.g-2
                  li.col-auto
                    .border.border-secondary.rounded.px-2 html
                  li.col-auto
                    .border.border-secondary.rounded.px-2 css
                  li.col-auto
                    .border.border-secondary.rounded.px-2 photoshop
                .btn-group.mt-4(role="group" aria-label="Basic example")
                  a.btn.btn-outline-white(href="/portfolio/mycompany" target="_blank") Live Demo
                  a.btn.btn-outline-white(href="https://github.com/VladislavDesu/mycompany" target="_blank") Github
      li.col-4
        button.p-0.bg-transparent.border-0(type='button' data-bs-toggle='modal' data-bs-target='#kvastInfo')
          img.img-fluid.rounded(src="images/portfolio/kvast.png")
        #kvastInfo.modal.fade(tabindex='-1' aria-labelledby='kvastLabel' aria-hidden='true')
          .modal-dialog.modal-dialog-centered
            .modal-content
              .modal-header
                h3#kvastInfoLabel.modal-title Project: Kvast
                button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
              .modal-body.pt-0
                p.mb-3 Training Layout. Created to test my knowledge.
                ul.list-unstyled.d-flex.row.g-2
                  li.col-auto
                    .border.border-secondary.rounded.px-2 html
                  li.col-auto
                    .border.border-secondary.rounded.px-2 css
                  li.col-auto
                    .border.border-secondary.rounded.px-2 photoshop
                .btn-group.mt-4(role="group" aria-label="Basic example")
                  a.btn.btn-outline-white(href="/portfolio/kvast" target="_blank") Live Demo
                  a.btn.btn-outline-white(href="https://github.com/VladislavDesu/kvast" target="_blank") Github

