/*--------------------
  CARD
--------------------*/

.card {
  filter: drop-shadow(0px 0px 10px rgba($black, 0.8));

  ul {
    li {
      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        @include size(10px);
        border-radius: 50%;
        background-color: $white;
        transform: translateY(-50%);
      }
    }
  }
}
