/*--------------------
  CARD
--------------------*/

.card {
  filter: drop-shadow(0 0 10px rgba($black, 0.8));

  li {
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      background-color: $white;
      border-radius: 50%;
      transform: translateY(-50%);

      @include size(10px);
    }
  }
}
