section.hero#hero
  .container
    .hero__wrapper
        h1.hero__title
          span.d-block.hero__welcome Hello I`m
          span.d-block.hero__name Vladislav Gryadko
          span.d-block.hero__position Frontend Developer
