header.header
  .container
    .d-flex.justify-content-between.py-4.header__wrapper
      a.logo(href="#")
        img(src="#" alt="logo")
      nav.nav
        ul.list-unstyled.d-flex.mb-0.nav__list
          li.px-3.nav__item
            a.nav__link(href="#") About me
          li.px-3.nav__item
            a.nav__link(href="#") Skills
          li.px-3.nav__item
            a.nav__link(href="#") Projects
          li.px-3.nav__item
            a.nav__link(href="#") Contacts
          li.px-3.nav__item
            a.nav__link(href="#") Resume


