header.header
  .container
    .header__wrapper
      a.logo.mx-auto(href="#")
        img(src="#" alt="logo")
      nav.nav
        ul.nav__list
          li.nav__item
            a.nav__link(href="#") About me
          li.nav__item
            a.nav__link(href="#") Skills
          li.nav__item
            a.nav__link(href="#") Projects
          li.nav__item
            a.nav__link(href="#") Contacts
          li.nav__item
            a.nav__link(href="#") Resume


