header.header
  .container
    .header__wrapper.position-relative
      .position-absolute.top-50.start-50.translate-middle
          a.logo(href="#")
            img.logo__img(src="#", alt="logo")
      nav.header__nav
        ul.nav
          li.nav-item
            a.nav-link(href="#") Link
          li.nav-item
            a.nav-link(href="#") Link
          li.nav-item.me-auto
            a.nav-link(href="#") Link
          li.nav-item
            a.nav-link(href="#") Link
          li.nav-item
            a.nav-link(href="#") Link
          li.nav-item
            a.nav-link(href="#") Link


